<div id="sidebar" class="color-bar">
    <span id="slelected-bar-indicator"></span>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav text-center">
            <li> <a href="#" onclick="moveSideBarSelectorBar(this)"><img src="{{ url_for('static', filename='imgs/analyzer.png') }}" alt="A"></a> </li>
            <li> <a href="#" onclick="moveSideBarSelectorBar(this)">G</a> </li>
            <li> <a href="#" onclick="moveSideBarSelectorBar(this)">P</a> </li>
        </ul>
    </div> <!-- /#sidebar-wrapper -->
</div> <!-- /#wrapper -->