<div id="sidebar" class="color-bar">
    <span id="slelected-bar-indicator"></span>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav text-center fcolor-nofocus">
            <li> <a href="#" onclick="moveSideBarSelectorBar(this, 0)">{% include 'svgs/analyzers.svg' %}</a> </li>
            <li> <a href="#" onclick="moveSideBarSelectorBar(this, 1)">G</a> </li>
            <li> <a href="#" onclick="moveSideBarSelectorBar(this, 2)">P</a> </li>
        </ul>
    </div> <!-- /#sidebar-wrapper -->
</div> <!-- /#wrapper -->