body{
    background-color: #2f2d2d;
}

.color-bg{
    background-color: #2f2d2d;
}

.color-nofocus{
    background-color: #cbc5bf;
}

.color-focus{
    background-color: white;
}

.color-bar{
    background-color: #1f1e1e;
}

.fcolor-focus{
    color: #fff;
}

.fcolor-nofocus{
    color: #cbc5fb;
}


.opacity-50{
    opacity: 0.5;
}

/* _________________FONT________________ */
