body{
    background-color: #2f2d2d;
}

.color-bg{
    background-color: #2f2d2d;
}

.color-nofocus{
    background-color: #cbc5bf;
}

.color-focus{
    background-color: white;
}

.color-bar{
    background-color: rgb(31, 30, 30);
}

.fcolor-focus{
    color: #fff;
}

.fcolor-nofocus{
    color: #cbc5bf;
}

.color-bar-50{
    background-color: rgba(31, 30, 30, 0.3);
}
.opacity-50{
    opacity: 0.5;
}

.btn-invisible{
    color:#cbc5bf;
}

.btn-invisible:hover{
    color:#fff;
}

/* _________________FONT________________ */
