body {
  font-family: Tahoma, Geneva, sans-serif;
}

.printButton {
  background-color: white;
}


section {
  display: -webkit-flex;
  display: flex;
}

.content {
  /*!-webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; */
  padding: 20px;
}

.picker {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 0;
}

footer {
  padding: 10px;
  text-align: center;
}

.wrap .half {
  width: 45%;
  padding: 16px 0;
}

.title {
  font-family: sans-serif;
  line-height: 24px;
  display: block;
  padding: 8px 0;
}

.readout {
  margin-top: 32px;
  line-height: 180%;
}

#values {
  font-family: monospace;
  line-height: 150%;
}

.nav-button{
  color: white;
  padding: 30px 15px;
  border-radius: 0px;
}

.nav-button:hover{
  color: white;
  /*background-color: rgb(43, 43, 49);*/
  background-color: #212529;
}

.nav-button-collapsed{
  background-color: #212529;
}

.nav-button:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

#mode-collapsible > .card-body {
  background-color: #212529 !important;
  flex: 0 0 auto !important;
}

#mode-collapsible > .card {
  border-width: 0px 0px 1px 0px;
  border-color: rgb(0, 219, 255);
}

#mode-collapsible .card-body {
  flex: 0 0 auto !important;
}

.clickable-card {
  transition: background-color 0.2s, color 0.2s;
}

.clickable-card:hover{
  cursor: pointer;
  color: black !important;
  background-color: #f8f9fa !important;
}


@media (min-width: 1200px) {
  .card-columns {
      -webkit-column-count:5;
      -moz-column-count:5;
      column-count:5;
  }
}

.card.bg-dark .list-group-item {
  transition: background-color 0.2s, color 0.2s;
  background-color: #343a40 !important;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: rgba(0,0,0,.125);
}

.card.bg-dark.clickable-card:hover .list-group-item {
  background-color: #f8f9fa !important;
}

.navbar{
  padding: 0;
}




/* sidenavvvvv */



#content{
  float: left;
  transition: margin-left 0.3s;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  float: left;
  color: #fff;
  transition: all 0.3s;
  min-width: 80px;
  max-width: 80px;
  min-height: 100vh;
}

.subsidebar{
  float: left;
  color: #fff;
  transition: all 0.3s;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  position: absolute;
  z-index: -100;
  margin-left: 80px;
}

#sidebar.active {
  margin-left: -80px;
}

.subsidebar.active {
  margin-left: -380px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

p {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar-nav{
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0px;
}

.subsidebar-nav{
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0px;
}

.sidebar-nav ul li{
  padding-left: 8px;
}

.sidebar-nav li  {
  min-height: 64px;
}

.subsidebar-nav li  {
  padding-left: 20px;
  padding-top:3px;
  min-height: 45px;
  transition: 0.3s;
}

.subsidebar-nav li:hover  {
  background-color: rgba(0,0,0,0.3);
  color: white;
}

.sidebar-nav li a {
  min-height: 64px;
}

#sidebar ul.components {
  padding: 5px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 5px;
}

#sidebar ul li a {
  padding: 5px;
  font-size: 1.1em;
  display: block;
}

.subsidebar ul li a {
  padding: 5px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  background: #161616;
}

#slelected-bar-indicator{
  position: absolute;
  min-width: 2px;
  max-width: 2px;
  min-height: 74px;
  max-height: 74px;
  background-color: white;
  z-index: 500;
  margin-left: 78px;
}

#pseudo-sidebar{
  transition: all 0.3s;
  min-width: 0px;
  max-width: 0px;
  min-height: 100vh;
  opacity: 0;
  position: relative;
  float:left;
  z-index: -1000;
}

#pseudo-sidebar.active{
  min-width: 300px;
  max-width: 300px;
}

