<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>LED Table</title>
    <script src="{{ url_for('static', filename='iro.min.js') }}"></script>
    {% endblock %} 
  </head>
  <body>
    <header>
      
    </header>
    <section>
      <div class="content">
        <div id="table_view">
          {% for row in range(23) %}
          <div id="table_row" style="display: flex;">
              {% for pixel in range(23) %}
                <div class="pixel_elem" style="width:30px;height:30px;border:1px solid #969696; background-color: rgb(0,0,0);" ondragstart="return false;" onmousedown="mouseOnPixelEventHanlder(event, this)" onmouseenter="pixelDragOverHandler(this)">{{ row }}, {{ pixel }}</div>
              {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div>
          <div id="printbutton"> <button onclick="printColorarray()"> Print array </button> </div>
          <div id="frame_printer"></div>
        </div>
      </div>
      <div class="picker">
        <div class="half">
          <div class="colorPickerLeftClick"></div>
        </div>
        <div class="half readout">
          <span class="title">Selected Color:</span>
          <div id="valuesLeft"></div>
        </div>
        <div class="half">
          <div class="colorPickerRightClick"></div>
        </div>
        <div class="half readout">
          <span class="title">Selected Color:</span>
          <div id="valuesRight"></div>
        </div>
      </div>
    </section>
    <footer>
      <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 by <a href="http://domain.invalid/">Daniel und Christian</a>.
        {% endblock %}
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='table.js') }}"></script>
  </body>
</html>