<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>LED Table</title>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='iro.min.js') }}"></script>
</head>
<body class="fcolor-focus">
    <header>
        {% include "basics/topnav.html" %}
    </header>
    <div id="wrapper">
        
        {% include "basics/sidenav.html" %}
        <div id="content">
            Was wollen wir trinken wir feiern heute nacht was
            wir trinken
        </div>
        <footer>
            <!-- include "basics/footer.html" %} -->
        </footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='table.js') }}"></script>
</body>
</html>