<div class="col-2">
    Sound volume power |
</div>
<div class="col-1">
    <span id="volume_value">7</span>
</div>
<div class="col-9">
    <input id="volume_range" type="range" />
</div>

<script>
    function sound_power(){
        var slider = document.getElementById("volume_range");
        var output = document.getElementById("volume_value");
        output.innerHTML = slider.value; // Display the default slider value
        
        socket.on('analyzer_volume_update', function(value){
            output.innerHTML = value;
            slider.value = value;
            console.log("GOT ANALYZER_VOLUME_UPDATE: " + value);
        });
        
        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
            socket.emit('analyzer_volume_change', this.value);
        } 
        socket.emit('request_analyzer_volume');
    } 
    sound_power();
</script>
